



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* styles.css */

body {

  font-family: sans-serif;
  background-color:white;
  color: black;
  font:bolder;
  margin: 0;
  padding: 0px;
}

h1 {
  margin-bottom: 20px;
  background-color: rgba(250, 235, 215, 0.37);
  margin: 0;
  margin-bottom: 20px;
  padding: 20px 0;
  text-align: center;
  font-weight: 700; 
  font-size: 2rem;
  
}

.genero-container {
  margin-bottom: 30px;
  margin: 20px;
  padding: 10px;
  border-bottom: 1px solid #ddd;


  }


h2 {
  margin-bottom: 10px;
  margin: 0 0 10px 0;
  font-weight: 700; 
  font-size: 1.5rem;
 }

.genero {
  display: flex;

  gap: 10px; 
  padding-bottom: 10px;
 }

.genero img {
  width: 150px; 
  height: auto; 
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  flex-wrap: wrap; 
  gap: 15px; 
  padding-bottom: 10px;

}

.genero img:hover {
  transform: scale(1.05); 
  
 }

.pelicula h3 {
  font-size: 1rem;
  color:black;
  padding: 10px;
  margin: 0;
  font-weight: 500;
  
 }

